<%= form_with(model: flower, local: true) do |form| %>
  <% if flower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flower.errors.count, "error") %> prohibited this flower from being saved:</h2>

      <ul>
      <% flower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :花名 %>
    <%= form.text_field :name, id: :flower_name %>
  </div>

  <div class="field">
    <%= form.label :かな名 %>
    <%= form.text_field :kana, id: :flower_kana %>
  </div>

  <div class="field">
    <%= form.label :花言葉 %>
    <%= form.text_field :words, id: :flower_words %>
  </div>

  <div class="field">
    <%= form.label :誕生花 %>
    <%= form.date_select :date1,{discard_year:true,include_blank: true} %>
  </div>

    <div class="field">
    <%= form.label :誕生花 %>
    <%= form.date_select :date2,{discard_year:true,include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :誕生花 %>
    <%= form.date_select :date3,{discard_year:true,include_blank: true} %>
  </div>

  <div class="actions">
    <%= form.submit  value="登録" %>
  </div>

<% end %>
