  <body>
                                      <p>花ことばGarden</p>

    <div class="table1">
      <p1>月日から探す</p1>
      <table class="yeartable">
        <tr>
          <td><a href="/flowers/January">1月</a></td><td><a href="/flowers/February">2月</a></td>
          <td><a href="/flowers/March">3月</a></td><td><a href="/flowers/April">4月</a></td>
        </tr>
        <tr>
          <td><a href="/flowers/May">5月</a></td><td><a href="/flowers/June">6月</a></td>
          <td><a href="/flowers/July">7月</a></td><td><a href="/flowers/August">8月</a></td>
        </tr>
        <tr>
          <td><a href="/flowers/September">9月</a></td><td><a href="/flowers/October">10月</a></td>
          <td><a href="/flowers/November">11月</a></td><td><a href="/flowers/December">12月</a></td>
        </tr>
      </table>
    </div>

    <div class="table2">
      <p1>名前から探す</p1>
      <table class="akasatanatable">
        <tr>
          <td><a href="/flowers/wa">わ</a></td><td><a href="/flowers/ra">ら</a></td><td><a href="/flowers/ya">や</a></td>
          <td><a href="/flowers/ma">ま</a></td><td><a href="/flowers/ha">は</a></td><td><a href="/flowers/na">な</a></td>
          <td><a href="/flowers/ta">た</a></td><td><a href="/flowers/sa">さ</a></td><td><a href="/flowers/ka">か</a></td>
          <td><a href="/flowers/a">あ</a></td>
        </tr>
        <tr>
          <td></td><td><a href="/flowers/ri">り</a></td><td></td><td><a href="/flowers/mi">み</a></td><td><a href="/flowers/hi">ひ</a></td>
          <td><a href="/flowers/ni">に</a></td><td><a href="/flowers/ti">ち</a></td>
          <td><a href="/flowers/si">し</a></td><td><a href="/flowers/ki">き</a></td><td><a href="/flowers/i">い</a></td>
        </tr>
        <tr>
          <td><a href="/flowers/wo">を</a></td><td><a href="/flowers/ru">る</a></td><td><a href="/flowers/yu">ゆ</a></td>
          <td><a href="/flowers/mu">む</a></td><td><a href="/flowers/fu">ふ</a></td><td><a href="/flowers/mu">ぬ</a></td><td><a href="/flowers/tsu">つ</a></td>
          <td><a href="/flowers/su">す</a></td><td></td><td><a href="/flowers/u">う</a></td>
        </tr>
        <tr>
          <td></td><td><a href="/flowers/re">れ</a></td><td></td>
          <td><a href="/flowers/me">め</a></td><td><a href="/flowers/he">へ</a></td><td><a href="/flowers/ne">ね</a></td>
          <td><a href="/flowers/te">て</a></td><td><a href="/flowers/se">せ</a></td><td><a href="/flowers/ke">け</a></td>
          <td><a href="/flowers/e">え</a></td>
        </tr>
        <tr>
          <td><a href="/flowers/n">ん</a></td><td><a href="/flowers/ro">ろ</a></td><td><a href="/flowers/yo">よ</a></td>
          <td><a href="/flowers/mo">も</a></td><td><a href="/flowers/ho">ほ</a></td><td><a href="/flowers/no">の</a></td>
          <td><a href="/flowers/to">と</a></td><td><a href="/flowers/so">そ</a></td><td><a href="/flowers/ko">こ</td><td><a href="/flowers/o">お</a></td>
        </tr>
      </table>
    </div>

        <div class="list">
      <form method="get" action="#" class="search_container">
        <input type="text" size="30" style="width:200px; height:40px;" placeholder="　キーワード検索">
        <input type="submit" style="height:40px;" value="検索">
      </form>
    </div>


      <%= image_tag 'flower.jpg', class:'image0' %>
      <a href=""><%= image_tag 'sakura.jpg', class:'image1', width: '30%', height: '10%' %></a>
      <a href=""><%= image_tag 'satsumaimo.jpg', class:'image2', width: '30%', height: '10%' %></a>
      <a href=""><%= image_tag 'cosmos.jpg', class:'image3', width: '30%', height: '10%' %></a>
      <a href=""><%= image_tag 'suisen.jpg', class:'image4', width: '30%', height: '10%' %></a>

    <div class="seasonal">
      <p2>春の花</p2>
    </div>
    <div class="seasonal2">
      <p3>夏の花</p3>
    </div>
    <div class="seasonal3">
      <p4>秋の花</p4>
    </div>
    <div class="seasonal4">
      <p5>冬の花</p5>
    </div>

  </body>
